#myform{
    padding: 20px;
    border-radius: 10px;
    background-color:#6f6c6c;
    /* overflow: auto; */
}

#viewData{
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow-x: auto;

}

th{
    text-align: center;
}

td{
    text-align: center;
    align-items: center;
    
}
span{
    font-size: 15px;
}

thead,tbody{
    overflow: scroll;
}